.filter_table{float: left;width: 100%;margin-bottom: 30px;}
.filter_table form-actions{margin: 0;padding: 0;float: left;width: 100%;} 
.filter_table .control-group{width: 225px;float: left;margin: 0;padding: 0;padding-top: 10px;}
.filter_table .control-group select{height: 35px;}
.cus_col_lg_6{width: 60%;float: left;}
.cus_col_lg_7{width: 70%;float: left;}
.cus_col_lg_3{width: 30%;float: left;}
.section_heading_custom h6{font-family: sans-serif;
    font-size: 14px;
    outline: none;color: #0083E9;
    font-weight: bold;}

    .filter_table .form-actions{width:100px;float: left;border:0px;background: none;margin: 0;padding: 0;margin-top: 30px;}
    .dataTables_filter{float: right;}
    .profile_image{float: left;width: 100%}
    .profile_image img{float: left; margin-right: 15px;height: 200px;width: 200px;border:2px solid #777;}
    .profile_image h6{margin-top: 30px;color: #0083E9}
 .success_alrt_msg{position: absolute;width: 90%;}

 .error_message {
    float: left;
    width: 100%;
    color: red;
    font-size: 12px;
}

.custom_data_table_box{    margin-left: 0px !important;}
.control-label span{font-size: 10px !important;color: red !important; font-weight: bold;}

.list_suggation .dist, #keystatus .key {
    width: 100%;
    float: left;
    margin: 0;
    background: #ccc;
    padding: 10px 0px;
}
.dist ul li, .key span {
    cursor: pointer;
    padding: 5px 10px;
    float: left;
    width: 100%;
    color: #000;
    font-weight: bold;
}
.dist ul li:hover, .key span:hover {
    background: #0083e9;
}
.dist ul{ list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;}

    .list_suggation .dist{
        width: auto;
        overflow: hidden;
    position: absolute;
    z-index: 9;
    }

.upazila_admin_info li label{
    float: left;width: 40%;
}
.upazila_car_search .well,.upazila_car_search{padding: 0px;background: none;}
.upazila_car_search .well .navbar-form .form-group input[type="number"]{
    margin: 0px;
    border: 0px;
    padding: 20px 20px;
    float: left;
    width: 80%; 
    background: #ddd;
}
.upazila_car_search .well .navbar-form button{
    padding: 4px;
    text-align: center;
    width: 16.34%;
    background: #0083e9;
    margin: 0;
 

} 